/* TAILWIND */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* SCROLLBAR STYLES */
::-webkit-scrollbar {
  @apply w-[8px] h-[8px];
}

::-webkit-scrollbar-thumb {
  @apply bg-blue-400 rounded;
}

::-webkit-scrollbar-track {
  @apply bg-gray-200 rounded;
}

/* VUE TRANSITION ANIMATIONS */
.v {
  &-enter-from {
    @apply opacity-0;
  }

  &-enter-to {
    @apply opacity-100;
  }

  &-enter-active {
    @apply transition duration-300;
  }
}

.fade {
  &-enter-active,
  &-leave-active {
    transition: opacity 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  }

  &-enter-from,
  &-leave-to {
    @apply opacity-0;
  }

  &-enter-to,
  &-leave-from {
    @apply opacity-100;
  }
}

.list {
  &-enter-active,
  &-leave-active {
    @apply transition duration-100;
  }

  &-enter-from,
  &-leave-to {
    opacity: 0;
    transform: translateX(-100%);
  }
}

.list-fade-x {
  &-move,
  &-enter-active,
  &-leave-active {
    @apply transition duration-500;
  }

  &-enter-from,
  &-leave-to {
    @apply opacity-0 translate-x-full;
  }

  &-leave-active {
    @apply absolute;
  }
}
